on: [push]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    
    - name: Cache Cargo dependencies and target  # NEW
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git/db
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-
    
    - name: Build project
      run: cargo +nightly build --release
    
    - name: Deploy/Run
      run: |
        cp target/release/NeoRust /home/volt/neo-rust/
        cd /home/volt/neo-rust/
        nohup ./launch.sh > neo-rust.log 2>&1 &
